@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

@font-face {
    font-family: Gilroy;
    src: url('/assets/fonts/Gilroy-Black.ttf');
  }
@font-face {
    font-family: Gilroy-bold;
    src: url('/assets/fonts/Gilroy-Bold.ttf');
  }
@font-face {
    font-family: Gilroy-ExtraBold;
    src: url('/assets/fonts/Gilroy-ExtraBold.ttf');
  }
@font-face {
    font-family: Gilroy-medium;
    src: url('/assets/fonts/Gilroy-Medium.ttf');
  }
@font-face {
    font-family: Gilroy-regular;
    src: url('/assets/fonts/Gilroy-Regular.ttf');
  }


  .section{
      padding: 2rem 0 4rem;
    }
    
    :root{
        --header-height: 3rem;
        /*============CHANGE COLORS=============*/
        /*===CHANGE COLOR===*/
        --hue-color-1: 45;/*   yellow  */
        --hue-color-2: 137;/*   green  */
        
        /* HSL color mode 1 */
        --first-color:hsl(var(--hue-color-1), 82%, 51%);
        --first-color-alt:hsl(var(--hue-color-1), 57%, 53%) ;
        /* HSL color mode 2 */
        --second-color:hsl(var(--hue-color-2), 91%, 25%);
        --second-color-alt:hsl(var(--hue-color-2), 57%, 53%) ;
        
        --text-color: hsl(0, 0%, 31%);
        --text-color-light:hsl(var(--hue-color), 8%, 65%) ;
        --input-color:hsl(0, 0%, 46%) ;
        
    /* --first-color-lighter:hsl(var(--hue-color-1), 92%, 85%); */
    /* --first-color-second:hsl(var(--hue-color-1), 74%, 62%) ; */
    /* --title-color:hsl(var(--hue-color), 8%, 15%) ;
    --body-color:hsl(var(--hue-color), 60%, 99%) ;
    --container-color:#fff ; */
    
    /* --second-color-second:hsl(var(--hue-color-2), 74%, 62%) ; */
    /* --second-color-lighter:hsl(var(--hue-color-2), 92%, 85%) ; */
    /* --title-color:hsl(var(--hue-color), 8%, 15%) ;
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light:hsl(var(--hue-color), 8%, 65%) ;
    --input-color:hsl(var(--hue-color), 70%, 96%) ;
    --body-color:hsl(var(--hue-color), 60%, 99%) ;
    --container-color:#fff ; */
    
    /*==========    FONT AND TYPEOFGRAPY     ==========*/   
    /* --body-font: 'Poppins', sans-serif; */
    
    /*   .5rem = 8px, 1rem = 16px, 1.5rem = 24px......*/
    --big-font-size: 3.5rem ;
    --medium-big-font: 2.8rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
    /*=====   FONT WEIGHT   =======*/
    --font-thin: Gilroy-regular; ;
    --font-medium: Gilroy-medium ;
    --font-semi-bold: Gilroy-bold ;
    --font-bold: Gilroy-ExtraBold ;
    
    /*========  MARGINS BOTTOMS    ======*/
    /*    .25rem = 4px, .5rem = 8px, .75rem = 12px ....*/
    --mb-0-25:.25rem ;
    --mb-0-5:.5rem ;
    --mb-0-75: .75rem;
    --mb-1:1rem ;
    --mb-1-5:1.5rem ;
    --mb-2:2rem ;
    --mb-2-5:2.5rem;
    --mb-3:3rem ;
    
    /*======   z index   ======*/
    --z-tool-tip:10 ;
    --z-fixed:100 ;
    --z-model:1000 ; 
}
@media screen and (min-width:968px){
    :root {
        --big-font-size: 3.7rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size:1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
    
}

*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    color: var(--text-color)
}

.round-btn{
    display: inline-flex;
    background-color: var(--first-color);
    border: none;
    padding: 15px 25px;
    color: hsl(0, 0%, 100%);
    font-family: var(--font-medium);
    cursor: pointer;
    border-radius: 50px;
}
.round-btn>i{
    margin-left: 5px;
    color: hsl(0, 0%, 100%);
    font-family: var(--font-medium);
    font-size: var(--small-font-size);
}
.round-btn:hover{
    background-color: var(--first-color-alt);
    transition: 300ms;

}

/*=========================   NAV BAR    ===========================*/
.container{
    padding:0 80px;
}
.navbar{
    background-color: hsl(0, 0%, 100%);
    height:80px;
    display: flex;
    -webkit-box-shadow: 0 5px 10px -2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px -2px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px -2px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px -2px rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index:999;

}
.navbar-content{
    display:flex;
    align-items:center;
    flex: 1;
    
}
.nav-brand{
    display:flex;
    align-items: center;
}
.nav-logo{
    max-width: 40px;
}
.nav-heading{
    font-family: var(--font-medium);
}
.nav-options{
    display:flex;
    flex: 1;
    margin: 0 30px;
}

.nav-options>ul, .nav-icons>ul{
    display:flex;
    flex: 1;
    justify-content: space-between;
    list-style-type: none;
}
.nav-icons>ul>li{
    margin:0 20px;
}

.nav-link{
    text-decoration: none;
    font-family: var(--font-semi-bold);
}
.nav-link>i{
    font-size: var(--h2-font-size);
}
.nav-profile{
    display: flex;
    align-items: center;
    text-decoration: none;

}
.nav-profile>i{
    font-size: var(--h2-font-size);
}
.nav-profile>h1{
    font-size: var(--small-font-size);
    margin: 0 5px;
}

 /*=============================      main section ===================================*/
 main{
    margin-top: 80px;
 }
 .grid{
     display: grid;
 }
 /*=======================      home section ==========================*/
.hero{
    /* height: 320px; */
    background: url('/assets/img/low-poly-grid-haikei.svg');
    padding-top: 30px;
    padding-bottom: var(--mb-3);
    margin-bottom: var(--mb-1-5);
}
.hero-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--mb-2-5);
}
.hero-title{
    margin-bottom: var(--mb-1);
    font-family: var(--font-semi-bold);
    font-size: var(--h1-font-size);
}
.title-3{
    margin-bottom: var(--mb-1);
    font-family: var(--font-semi-bold);
    font-size: var(--h1-font-size);
}
.sub-title{
    font-family: var(--font-thin);
    font-size: var(--normal-font-size);
}
.hero-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;  
}

.card {
  background: #fff;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 410px;
  overflow: hidden;
  cursor: pointer;
}


.card-text {
  display: flex;
  flex: 1;
}

.title-total {
  padding: 1em 0.8em 0 0.8em;
}
.card-title{
    font-size: var(--small-font-size);
    font-family: var(--font-bold);
    margin-bottom: var(--mb-1);
}
.lesson-title{
    font-size: var(--small-font-size);
    font-family: var(--font-medium);
    margin-bottom: var(--mb-0-75);

}
.professor-title{
    font-size: var(--small-font-size);
    font-family: var(--font-thin);
    margin-bottom: var(--mb-1);
}
.professor-title>i{
    margin-right: 5px;
}
.progress-bar{
    background: rgb(211, 211, 211);
    overflow: hidden;
}
.card-progress{
    height: 10px;
    border-radius: 0 12px 12px 0;
    background: var(--second-color);
}
.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  max-width:90px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-image: url("https://images.unsplash.com/photo-1639087595550-e9770a85f8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: bottom center;
  background-size: cover;
}

.card-content{
    flex: 1;
}
.hero-detail{
    display: grid;
    grid-template-columns: 8fr 4fr;
    column-gap: 50px;
}
.hero-detail-text{
    display: grid;
    align-items: center;
}

.hero_blobe{
    width:400px;
}
.title-big{
    font-family: var(--font-semi-bold);
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-2);
    line-height: 0.8em;
}
.small-text{
    font-size: var(--normal-font-size);
    font-family: var(--font-medium);
    line-height: 1.5rem;
}
.title-2{
    font-family: var(--font-semi-bold);
    font-size: var(--medium-big-font);
}
.course-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--mb-3);
}
.courses-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding-bottom: var(--mb-2-5);
}
.course-card-big{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 40px;
    border-radius: 5px;
}
.course-card-big-img{
    height: 140px;
    border-radius: 5px;
    background-image: url('https://images.unsplash.com/photo-1633113089631-6456cccaadad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: var(--mb-1);

}
.course-card-big-footer{
    padding: 5px 15px 15px 5px;
}
.display-flex{
    display: flex;
}
.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-card-big-price{
    gap:20px
}
.card-title-offer-price{
    font-family: var(--font-semi-bold);
    font-size: var(--small-font-size);
}
.card-title-price{
    font-family: var(--font-medium);
    font-size: var(--small-font-size);
    color:  rgb(163, 163, 163);
}
.best-seller-button{
    background-color: var(--second-color);
    border: none;
    padding: 4px 10px;
    color: hsl(0, 0%, 100%);
    font-family: var(--font-medium);
    font-size: .6rem;
    border-radius: 3px;
}
.cart-btn>i{
    /* height: 50px;
    width: 50px; */
    padding: 10px;
    background: var(--first-color);
    border-radius: 10px;
    font-size: 1.5rem;
    color: #fff;
    font-family: var(--font-thin);
    cursor: pointer;
}