@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy-Black.ttf');
  }
@font-face {
    font-family: Gilroy-bold;
    src: url('../fonts/Gilroy-Bold.ttf');
  }
@font-face {
    font-family: Gilroy-ExtraBold;
    src: url('../fonts/Gilroy-ExtraBold.ttf');
  }
@font-face {
    font-family: Gilroy-medium;
    src: url('../fonts/Gilroy-Medium.ttf');
  }
@font-face {
    font-family: Gilroy-regular;
    src: url('../fonts/Gilroy-Regular.ttf');
  }


  .section{
      padding: 2rem 0 4rem;
    }
    
    :root{
        --header-height: 3rem;
        /*============CHANGE COLORS=============*/
        /*===CHANGE COLOR===*/
        --hue-color-1: 45;/*   yellow  */
        --hue-color-2: 137;/*   green  */
        
        /* HSL color mode 1 */
        --first-color:hsl(var(--hue-color-1), 82%, 51%);
        --first-color-alt:hsl(var(--hue-color-1), 57%, 53%) ;
        /* HSL color mode 2 */
        --second-color:hsl(var(--hue-color-2), 91%, 25%);
        --second-color-alt:hsl(var(--hue-color-2), 57%, 53%) ;
        
        --text-color: hsl(0, 0%, 31%);
        --text-color-light:hsl(var(--hue-color), 8%, 65%) ;
        --input-color:hsl(0, 0%, 46%) ;
        
    /* --first-color-lighter:hsl(var(--hue-color-1), 92%, 85%); */
    /* --first-color-second:hsl(var(--hue-color-1), 74%, 62%) ; */
    /* --title-color:hsl(var(--hue-color), 8%, 15%) ;
    --body-color:hsl(var(--hue-color), 60%, 99%) ;
    --container-color:#fff ; */
    
    /* --second-color-second:hsl(var(--hue-color-2), 74%, 62%) ; */
    /* --second-color-lighter:hsl(var(--hue-color-2), 92%, 85%) ; */
    /* --title-color:hsl(var(--hue-color), 8%, 15%) ;
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light:hsl(var(--hue-color), 8%, 65%) ;
    --input-color:hsl(var(--hue-color), 70%, 96%) ;
    --body-color:hsl(var(--hue-color), 60%, 99%) ;
    --container-color:#fff ; */
    
    /*==========    FONT AND TYPEOFGRAPY     ==========*/   
    /* --body-font: 'Poppins', sans-serif; */
    
    /*   .5rem = 8px, 1rem = 16px, 1.5rem = 24px......*/
    --big-font-size: 3rem ;
    --medium-big-font: 2.4rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
    /*=====   FONT WEIGHT   =======*/
    --font-thin: Gilroy-regular; ;
    --font-medium: Gilroy-medium ;
    --font-semi-bold: Gilroy-bold ;
    --font-bold: Gilroy-ExtraBold ;
    
    /*========  MARGINS BOTTOMS    ======*/
    /*    .25rem = 4px, .5rem = 8px, .75rem = 12px ....*/
    --mb-0-25:.25rem ;
    --mb-0-5:.5rem ;
    --mb-0-75: .75rem;
    --mb-1:1rem ;
    --mb-1-5:1.5rem ;
    --mb-2:2rem ;
    --mb-2-5:2.5rem;
    --mb-3:3rem ;
    
    /*======   z index   ======*/
    --z-tool-tip:10 ;
    --z-fixed:100 ;
    --z-model:1000 ; 
}
@media screen and (min-width:968px){
    :root {
        --medium-big-font: 2.8rem;
        --big-font-size: 3.7rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size:1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
    
}
@media screen and (max-width:568px){
    :root {
        --medium-big-font:  1.5rem;
        --big-font-size:  1.5rem;
        --normal-font-size: .840rem;
    }
    
}
body,html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    color: var(--text-color)
    
}

.round-btn{
    display: inline-flex;
    background-color: var(--first-color);
    border: none;
    padding: 15px 25px;
    color: hsl(0, 0%, 100%);
    font-family: var(--font-medium);
    cursor: pointer;
    border-radius: 50px;
}
.round-btn>i{
    margin-left: 5px;
    color: hsl(0, 0%, 100%);
    font-family: var(--font-medium);
    font-size: var(--small-font-size);
}
.round-btn:hover{
    background-color: var(--first-color-alt);
    transition: 300ms;

}

/*=========================   NAV BAR    ===========================*/
/* .container{
    padding:0 80px;
} */
.container{
    margin: auto;
}
@media (max-width: 568px) {
    .container {
      padding: 0 30px;
      flex:1;
    }
  }
@media (min-width: 568px) {
    .container {
      width: 550px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
.navbar{
    height:80px;
    display: flex;
    background-color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0 5px 10px -2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px -2px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px -2px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px -2px rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index:999;
    /* display:none; */

}
@media (max-width: 992px) {
    .navbar {
      display: none;
    }
  }
.navbar-content{
    display:flex;
    align-items:center;
    
}
.nav-brand{
    display:flex;
    align-items: center;
}
.nav-logo{
    max-width: 40px;
}
.nav-heading{
    font-family: var(--font-medium);
}
.nav-options{
    display:flex;
    flex: 1;
    margin: 0 30px;
}

.nav-options>ul, .nav-icons>ul{
    display:flex;
    flex: 1;
    justify-content: space-between;
    list-style-type: none;
}
.nav-icons>ul>li{
    margin:0 20px;
}

.nav-link{
    text-decoration: none;
    font-family: var(--font-semi-bold);
}
.nav-link>i{
    font-size: var(--h2-font-size);
}
.nav-profile{
    display: flex;
    align-items: center;
    text-decoration: none;

}
.nav-profile>i{
    font-size: var(--h2-font-size);
}
.nav-profile>h1{
    font-size: var(--small-font-size);
    margin: 0 5px;
}
/* ============NAV MOB   =================== */
.mob-nav{
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0 5px 10px -2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px -2px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px -2px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px -2px rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index:999;
    height: 56px;
    display:none;
}
.mob-nav-content{
     display: flex;
     align-items: center;
     justify-content: space-between;
     /* flex:1; */

}
#hero-my-learnings-btn{
    display: none;
    justify-content: center;
    margin-top: var(--mb-3);
}
@media (max-width: 992px) {
    .mob-nav {
      display: flex;
    }
    main{
        margin-top: 56px !important;
    }
    #hero-view-all-btn{
        display: none;
    }
    #hero-my-learnings-btn{
        display:flex;
    }
    .hero-detail{
        display: grid;
        column-gap: 50px;
        grid-template-rows: 1fr ;
        grid-template-areas: "hero-text hero-text"
                             "hero-image hero-image";
    }
  }
.mob-nav-link{
    font-size:2rem;
}
.mob-menu-tools{
    display:flex;
    gap:25px;
}

 /*=============================      main section ===================================*/
 main{
    margin-top: 80px;
 }
 .grid{
     display: grid;
 }
 /*=======================      home section ==========================*/
 .hero-cover{
     background: url('../img/low-poly-grid-haikei.svg');
     background-size: cover;

 }
.hero{
    /* height: 320px; */
    padding-top: 30px;
    padding-bottom: var(--mb-3);
    margin-bottom: var(--mb-1-5);
}

.hero-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--mb-2-5);
}
.hero-title{
    margin-bottom: var(--mb-1);
    font-family: var(--font-semi-bold);
    font-size: var(--h1-font-size);
}
.title-3{
    margin-bottom: var(--mb-1);
    font-family: var(--font-semi-bold);
    font-size: var(--h1-font-size);
}
.sub-title{
    font-family: var(--font-thin);
    font-size: var(--normal-font-size);
}
.hero-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;  
}

.card {
  background: #fff;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 410px;
  overflow: hidden;
  cursor: pointer;
  margin-right: 20px;
}


.card-text {
  display: flex;
  flex: 1;
}

.title-total {
  padding: 1em 0.8em 0 0.8em;
}
.card-title{
    font-size: var(--small-font-size);
    font-family: var(--font-bold);
    margin-bottom: var(--mb-1);
}
.lesson-title{
    font-size: var(--small-font-size);
    font-family: var(--font-medium);
    margin-bottom: var(--mb-0-75);

}
.professor-title{
    font-size: var(--small-font-size);
    font-family: var(--font-thin);
    margin-bottom: var(--mb-1);
}
.professor-title>i{
    margin-right: 5px;
}
.progress-bar{
    background: rgb(211, 211, 211);
    overflow: hidden;
}
.card-progress{
    height: 10px;
    border-radius: 0 12px 12px 0;
    background: var(--second-color);
}
.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  max-width:90px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-image: url("https://images.unsplash.com/photo-1639087595550-e9770a85f8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: bottom center;
  background-size: cover;
}

.card-content{
    flex: 1;
}
.hero-detail{
    display: grid;
    column-gap: 50px;
    grid-template-columns: 8fr 4fr;
    grid-template-areas: "hero-text hero-image"
                         "hero-text hero-image";
}
.hero-detail-text{
    grid-area: hero-text; ;
    display: grid;
    align-items: center;
}
.hero-detail-image{
    grid-area: hero-image ;
    width:420px !important;
    justify-self: center;
}

.hero_blobe{
    /* width:400px; */
    /* height:400px */
}

@media (max-width: 992px) {
    .hero-detail-text{
        text-align: center;
    }
    .hero-detail{
        column-gap: 0;
        grid-template-columns: 1fr ;
        grid-template-areas:"hero-image hero-image" "hero-text hero-text";
    }
    .hero-detail-image{
        width:320px !important;
    }
    .hero-detail{
        margin-bottom:var(--mb-3)
    }
}
.small-text{
    font-size: var(--normal-font-size);
    font-family: var(--font-medium);
    line-height: 1.5rem;
}
@media (max-width: 568px) {
    .hero-detail-image{
        width: 200px !important;
    }
    .round-btn{
        padding: 10px 20px;
        font-family: var(--font-medium);
    }
    .small-text{
        line-height: 1.5rem;
    }

}
.title-big{
    font-family: var(--font-semi-bold);
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-2);
    line-height: 0.8em;
}
.title-2{
    font-family: var(--font-semi-bold);
    font-size: var(--medium-big-font);
}
.realated-cource{
    margin-bottom: var(--mb-2-5);
}
.course-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--mb-3);
}
.course-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding-bottom: var(--mb-2-5);
}
.course-card-big{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 40px;
    border-radius: 5px;
}
.course-card-big-img{
    height: 140px;
    border-radius: 5px;
    background-image: url('https://images.unsplash.com/photo-1633113089631-6456cccaadad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: var(--mb-1);

}
.course-card-big-footer{
    padding: 5px 15px 15px 5px;
}
.display-flex{
    display: flex;
}
.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-card-big-price{
    gap:20px
}
.card-title-offer-price{
    font-family: var(--font-semi-bold);
    font-size: var(--small-font-size);
}
.card-title-price{
    font-family: var(--font-medium);
    font-size: var(--small-font-size);
    color:  rgb(163, 163, 163);
}
.best-seller-button{
    background-color: var(--second-color);
    border: none;
    padding: 4px 10px;
    color: hsl(0, 0%, 100%);
    font-family: var(--font-medium);
    font-size: .6rem;
    border-radius: 3px;
}
.cart-btn>i{
    /* height: 50px;
    width: 50px; */
    padding: 10px;
    background: var(--first-color);
    border-radius: 10px;
    font-size: 1.5rem;
    color: #fff;
    font-family: var(--font-thin);
    cursor: pointer;
}
#consultation-testimonial{
    grid-area: testimonial;
}
#consultation-title{
    vertical-align: bottom;
    grid-area: title;
    align-self: flex-end;
    margin-bottom: var(--mb-1);
}
#consultation-discription{
    grid-area: discription;
}
#consultations{
    display: grid;
    min-height: calc(100vh - 80px);
    background-color: hsl(43, 79%, 92%);
    grid-template-areas: "testimonial title"
                         "testimonial discription";
    grid-template-columns: 1fr 1fr;
    padding: 5rem 7rem;
    margin-bottom: var(--mb-2-5);
    column-gap: 50px;
}
.purple-title-wrap{
    display:flex;
    transform: rotate(-1.5deg);
}
.purple-title{
    background-color: hsl(248, 48%, 64%);
    color: rgb(255, 255, 255);
    padding:0 20px;
}
@media (max-width: 568px) {
    .purple-title{
        padding:0 10px;
    }
  }
.consultation-disc{
    background-color: hsl(0, 0%, 100%);
    margin:auto;
    margin-top: 5rem;
}
@media (max-width: 1200px) {
    .consultation-disc{
        margin-top: 2rem;
        margin-bottom: var(--mb-3) !important;
    }
    #consultations{
    background-color: hsl(0, 0%, 100%);
    padding: 3rem  2rem;
    grid-template-areas: "title title"
                        "testimonial testimonial"
                        "discription discription";
    }
  }
.consultation-discription-text{
    margin-bottom: var(--mb-3);
}
.consult-now-btn{
    text-decoration: none;
    background-color: var(--first-color);
    border: none;
    padding: 10px 30px;
    color: hsl(0, 0%, 100%);
    font-family: var(--font-semi-bold);
    cursor: pointer;
    border-radius: 5px;
}
.consult-now-btn:hover{
    background-color: var(--first-color-alt);
    transition: 300ms;
}

#students-words{
    display: grid;
    grid-template-areas:"stud-content  stud-image"
                        "stud-content  stud-image";
    margin-bottom: var(--mb-3);
    column-gap: 50px;
}
.students-words-content{
    grid-area: stud-content;
    align-self: center;
}
.student-words-image{
    grid-area: stud-image;
    max-width: 350px;
    align-self: center;
}
.title-medium{
    margin-bottom: var(--mb-1);
    font-family: var(--font-semi-bold);
    font-size: var(--h3-font-size);
}
.student-words-title{
    color: hsla(0, 0%, 46%, 1);
    margin-bottom: var(--mb-2);
}
.students-words-message{
    max-width: 460px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 40px;
    padding: 30px 25px;
    margin-bottom: var(--mb-3);
    border-radius: 5px;
}
@media (max-width: 1200px) {
    #students-words{
        grid-template-areas: "stud-image stud-image"
                                "stud-content stud-content";
    }
    .student-words-image{
        max-width: 185px;
        margin:auto;
        margin-bottom: var(--mb-3);
    }
    .students-words-message{
        margin: auto;
        max-width: 600px;
    }
  }
.student-words-message-header{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: var(--mb-1);
}
.student-words-message-header>p{
    margin-bottom: 0;
}
.student-words-message-header>i{
    font-size: var(--medium-big-font);
    color: hsla(45, 82%, 51%, 0.28)
}
.students-words-message-disc{
    color: hsla(0, 0%, 46%, 1);
    font-family: var(--font-medium);
}
.invite-content{
    display: grid;
    grid-template-columns: 5fr 4fr;
    grid-template-areas: "invite-content invite-svg" ;
    background-image: url('../img/low-poly-grid-haikei.svg');
    padding: 3rem 2rem 2rem 3rem;
    border-radius: 15px;
    margin-bottom: var(--mb-3);
}
.invite-content-wrapper{
    grid-area: invite-content;

}
.invite-message{
    font-size: var(--normal-font-size);
    font-family: var(--font-medium);
    line-height: 1.5rem;
    margin-bottom: var(--mb-2);
}

.email-input-wrap,.coupon-input-wrap{
    display: grid;
    grid-template-columns: 8fr 3fr;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    overflow: hidden;
}
.email-input-wrap{
    margin-bottom: var(--mb-1-5);
}
.form-field-input{
    border: none;
    padding: 15px;
    border-radius: 5px  0 0 5px;
    font-family: var(--font-semi-bold);
}
.form-field-input:focus{
    outline: none;
}
.form-field-btn{
    border: none;
    background-color: var(--first-color);
    color: hsl(0, 0%, 100%);
    font-family: var(--font-semi-bold);
}
.form-field-btn:hover{
    background-color:var(--first-color-alt) ;
    transition: 300ms;
}
.invite-svg{
    grid-area: invite-svg;
    max-width: 350px;
    align-self: center;
    justify-self: center;
}
@media (max-width: 992px) {
    .invite-content{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 3fr;
        grid-template-areas: "invite-svg invite-svg"
                                "invite-content invite-content" ;
        padding: 3rem 2rem 2rem 3rem;
    }
    .invite-svg{
        max-width: 220px;
        align-self: center;
        justify-self: center;
        margin-bottom: var(--mb-2-5);
    }
   
  }
@media (max-width: 556px) {
    .invite-content{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 3fr;
        grid-template-areas: "invite-svg invite-svg"
                                "invite-content invite-content" ;
        padding: 3rem 2rem 2rem 3rem;
        border-radius:0;
    }
    .invite-svg{
        max-width: 220px;
        align-self: flex-start;
        justify-self: flex-start;
        margin-bottom: var(--mb-2);
        max-width :180px;
    }
    #invite{
        padding: 0!important;
    }
   
  }
.slider-big{
    margin: 0 3rem;
}
@media (max-width: 768px){
    .slider-big{
        margin: 0 0.2rem;
    }
    .slider-big>button{
        display:none;
    }
    .course-header{
        margin-bottom: var(--mb-1);
    }

}
.slick-item-big{
    background-image: url('https://images.unsplash.com/photo-1527633286632-34bb64366ff3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    min-height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    display: flex !important;
    align-items:flex-end;
    padding:2rem 2.5rem;
    gap: 2rem ;
    border: 10px solid white !important;
    cursor: pointer;
    max-width: 1170px;
    margin: auto;
}
.slider-big-text{
    color:hsl(0, 0%, 100%);
}
#industrial-speakers{
    margin-bottom:var(--mb-3)
}
/* ============ BANNER ========== */
.banner-container{
    margin: 0 6rem 3rem;
}
.banner-container>img{
    width: 100%;
}
@media (max-width:791px) {
    .banner-container{
        margin: 0 0 3rem;
    }
}



/*================== FOOTER============= */
.footer-wrap{
    padding-top: 3rem;
    padding-bottom :3rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}
.footer-content>ul{
    list-style: none;

}
.footer-content>ul>li{
    margin-bottom: var(--mb-0-75);

}
.footer-content>ul>li>i{
    font-size: 1.5rem;
    margin-right: 1rem;
}
.footer-links{
    font-size: var(--normal-font-size);
    font-family: var(--font-medium);
    text-decoration: none;
   
}
.footer-links-connect{
    text-decoration: underline;
}

.footer-brand{
    display:flex;
}
.footer-logo{
    max-width: 60px;
}
.footer-heading{
    font-family: var(--font-medium);
    font-size:var(--h3-font-size)
}
.footer-brand-mob{
    justify-content: center;
    margin-bottom:var(--mb-2)
}
.footer-content-mob{
    margin-bottom:var(--mb-2-5)
}
.mob-footer{
    display:none;
}
@media (max-width: 992px) {
    .mob-footer{
        display:block;
    }
    .footer-wrap{
        display:none;
    }
}

.slick-list {
    /* overflow: visible; */
  }



  .slider-services {
    background-color: blue;
    position: initial; /*important, allows container-fluid to be the relative*/
  }
